:root{
    --verde: #128C7E;
}

body{
    font-family: sans-serif;
    background: rgb(1, 161, 135);  
}
h2{
    color: white;
    font-size: 2.5rem;
}
h5{
    color: #1d1d1d;
}
#box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#ddd:focus{
    box-shadow: none;
    border-color: var(--verde);
}
#telefone:focus{
    box-shadow: none;
    border-color: #128C7E;
}
#floatingTextarea:focus{
    box-shadow: none;
    border-color: #128C7E;
}
#floatingTextarea{
    resize: auto;
}
.sombra{
    box-shadow: 5px 5px 18px -8px #202020;
}
.button{
    border: none;
    background-color: #075E54;
}
.button:hover{
    background-color: rgb(1, 161, 135);
}
.button:focus{
    background-color: rgb(1, 161, 135);
    border: none;
    box-shadow: none;
}